<header>

  <a href="/" class="title">SMART TO DO</a>
  <i class="fa-solid fa-bolt-lightning fa-beat"></i>

  <div class="header-right">

    <button type="submit" class="btn btn-light" name="profilebtn"><a href="/profile">Profile</a></button>

    <button type="submit" class="btn btn-light" id="logoutbtn"
    onclick="logout()" >Logout</button>

    <script>
    function logout() {

      $.ajax({
          method: 'POST',
          url: '/logout',
          success: function () {
            window.location("http://localhost:8080");
          }
        });
      }
  </script>
  </div>
</header>
