<header>
  <% if (user) { %>
  <div class="dropdown" id="user-icon" data-id="<%= user %>">
    <div>
      <a href="#" data-toggle="modal" data-target="#modalRegisterForm"><i class="far fa-comment" data-toggle="modal"
          data-target="#modalRegisterForm"></i>
        <span id="edit">Edit</span>
      </a>
      <i class="fas fa-user-astronaut"></i>
    </div>
    <div class="username-holder"><%= user %></div>
    <div class="dropdown-content">
      <form action="/logout" method="POST">
        <div id="logout">Logout</div>
      </form>
    </div>
  </div>
  <% } else { %>
  <!-- Show a login or signup button? -->
  <div>
    <a href="#" data-toggle="modal" data-target="#modalRegisterForm"><i class="far fa-comment" data-toggle="modal"
        data-target="#modalRegisterForm"></i>
      <span id="edit">Edit</span>
    </a>
    <i class="fas fa-user-astronaut"></i>
  </div>
  <% } %>
<<<<<<< HEAD
  </header>
=======
</nav>
>>>>>>> 8ae699665d51f4ee8eb4cb2e281ff58b89af4933
