<!DOCTYPE html>
<html lang="en">

<head>

  <title>Register</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script defer src="/scripts/app.js"></script>

  <script src="https://kit.fontawesome.com/7d828f8d7a.js" crossorigin="anonymous"></script>

</head>

<body>

  <%- include('partials/_header') %>

    <div class="register">
      <h1>Please fill in this form to create an account!</h1>
      <div class="register-form">

        <form method="POST" action="/register" id="register">

          <div class="form-group">
            <label>Email Address: </label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email" required="required">
          </div>

          <div class="form-group">
            <label>Name: </label>
            <input type="username" class="form-control" name="username" placeholder="Enter Name" required="required">
          </div>

          <div class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password"
              required="required">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-light">Sign Up</button>
          </div>

        </form>
      </div>
    </div>

    <script>
      document.getElementById('register').addEventListener('submit', function(event) {
        event.preventDefault();

        var emailInput = document.querySelector('input[name="email"]');
        var passwordInput = document.querySelector('input[name="password"]');
        var email = emailInput.value;
        var password = passwordInput.value;

        fetch('/auth/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email: email, password: password })
        }).then(function(response) {
          if(response.ok) {
            console.log("Registration successful!");
          } else {
            console.log("Registration failed!");
          }
        }).catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>

</body>


</html>
