@charset "UTF-8";
header {
  height: 120px;
  background: #cbe1e3;
  color: #001f73;
  font-size: 50px;
  font-family: Frutiger Linotype;
  position: fixed;
  width: 100%;
  top: 0;
}

.title {
  font-size: 60px;
  float: left;
  text-decoration: none;
  padding: 15px;
}

i {
  margin-top: 20px;
}

.header-right {
  float: right;
  padding: 15px;
}

.header-right a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 200px;
  display: flex;
  flex-direction: column;
  top: 120px;
  height: 85%;
}

.nav-area a {
  font-size: 40px;
  color: rgba(227, 231, 238, 0.9607843137);
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
}

.nav-area a:hover {
  color: rgba(4, 6, 8, 0.9607843137);
}

.home {
  background: #899FCF;
  flex: 1;
}

.eat {
  background: #768CC4;
  flex: 1;
}

.watch {
  background: #6279B8;
  flex: 1;
}

.read {
  background: #49516F;
  flex: 1;
}

.buy {
  background: #496F5D;
  flex: 1;
}

.do {
  background: #4C9F70;
  flex: 1;
}

.other {
  background: #6BB089;
  flex: 1;
}

main {
  padding-top: 100px;
  background: rgb(158, 205, 215);
  margin-left: 200px;
  padding-bottom: 150px;
}

main > div > ul {
  font-size: 40px;
  margin-left: 150px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

main > div > li {
  font-size: 25px;
  margin-left: 200px;
  padding-bottom: 100px;
  list-style: "✓ ";
}

.newtask {
  padding-top: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  background-color: rgb(158, 205, 215);
}

.taskform {
  text-align: center;
}

.taskarea {
  margin-top: 5px;
  font-size: 20px;
}

.tasktext {
  font-size: 30px;
}

.taskbutton {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

.taskarea {
  width: 600px;
  resize: none;
}

table, th, td {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 30px;
  font-size: 25px;
}

td a {
  text-decoration: none;
}

th {
  text-align: left;
  font-size: 30px;
}

body {
  background: rgb(216, 222, 225);
}

.login {
  padding-top: 170px;
  text-align: center;
}

.register {
  padding-top: 170px;
  text-align: center;
}

.login-form {
  padding-top: 20px;
  margin-left: 170px;
  margin-right: 170px;
  font-size: 25px;
  border-radius: 250px;
  background-color: #899FCF;
}

.register-form {
  padding-top: 20px;
  margin-left: 170px;
  margin-right: 170px;
  font-size: 25px;
  border-radius: 250px;
  background-color: #899FCF;
}

.form-group {
  padding: 20px;
}

.form-control {
  width: 30%;
}

.btnn {
  background-color: #6BB089;
  font-size: 30px;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
}

caption {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.editform {
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
  padding: 100px;
}

.wrapper label {
  display: block;
}

.tasklabel {
  font-size: 30px;
}

.taskname {
  font-size: 20px;
}

.category {
  font-size: 20px;
}

.catname {
  padding-top: 20px;
  font-size: 30px;
}

.edit {
  margin-top: 20px;
}